header {
    background-color: #FF4A4A;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 35px 0px 35px;
    font-size: 1.1rem;
}

.desktop-menu>nav>ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.desktop-menu>nav>ul>li>a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

.mobile{
    display: none;
}


@media screen and (min-width: 312px) and (max-width: 1000px) {

    .nav-desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .mobile-menu{
        display: block;
        position: absolute;
        top: 21px;
        right: 25px;
        width: 35px;
        height: 35px;
        border: none;
        background: none;
    }

    .menu{
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: 110px;
        background-color: #FF4A4A;
        animation: dropDown .5s ease-in-out 1;
        overflow: hidden;
        padding-bottom: 5px;
    }

    nav ul{
        list-style-type: none;
    }

    nav li{
        margin-top: 7px;
        text-align: center;
    }

    nav a{
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
    }

    .bar{
        display: block;
        height: 1px;
        width: 85%;
        margin-top: 2px;
        border-top: 1px solid black;
    }

    .center{
        display: flex;
        justify-content: center;
    }

}

@keyframes dropDown {
    0%{
        height: 0%;
    }
    100%{
        height: 110px;
    }
}
